.item div, .item p {
  display: inline;
}

.item input, .item button {
  display: inline;
}

.strike {
  text-decoration: line-through;
}

.item {
  border: 1px solid grey;
  padding: 1px;
  margin: 2px;
}

.em {
  font-style: italic;
}

.bold {
  font-weight: bold;
}